    <div class="container my-5 text-white">
        <div class="row align-items-center">
            <div class="col-md-6 ">
                <img src="https://files.cdn.printful.com/o/upload/bfl-image/42/11354_l_t-shirt-Design-Examples-mockup_Art-with-text.png" class="img-fluid rounded-3 card-custom" alt="{{product.title}}">
            </div>
            <div class="col-md-6">
                <div class="p-4 bg-dark  rounded-3">
                    <h1 class="display-5">{{product.title}}</h1>
                    <p class="fst-italic">Categoría: {{product.category}}</p>
                    <p>{{product.description}}</p>
                    <div class="mb-3">
                        <span class="badge " style="background: linear-gradient(to right, #6a11cb, #2575fc);">Stock: {{product.stock}}</span>
                    </div>
                    <div  class="row">
                        <button class="btn btn-outline-primary col-4"   type="submit">añadir al carrito</button>
                        <h2 class="col-8 text-end fw-light" >Precio: ${{product.price}}</h2>
                    </div>
                </div>
            </div>
                            <a href="/products" class="btn btn-primary mt-3 ">Volver a la lista</a>

        </div>
    </div>
