<div class="hero">
    <div class="overlay d-flex align-items-center justify-content-center flex-column">
        <h1 class="display-3">Bienvenido a MiWebSite</h1>
        <p class="lead">Encuentra los mejores productos aquí.</p>
        <a href="/products/real" class="btn btn-primary btn-lg">Explora nuestros productos</a>
    </div>
</div>
<section>
    <h1 class="text-center p-4">Lista de Productos</h1>
    <div class="container-xl mt-4">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {{#each products}}
            <div class="col">
                <div class="card h-100 bg-dark text-white">
                    <img src="https://files.cdn.printful.com/o/upload/bfl-image/42/11354_l_t-shirt-Design-Examples-mockup_Art-with-text.png" class="card-img-top" alt="{{title}}">
                    <a class="text-decoration-none text-white" href="/products/{{this.id}}">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">Categoría: {{category}}</p>
                            <p class="card-text">Precio: ${{price}}</p>
                            <p class="card-text">Stock: {{stock}}</p>
                            </a>
                        </div>
                   
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
